* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
  background-image: linear-gradient(to right, #d7e1ec, #ffffff);
  background-size: contain;
}